body{
	font-size: 16px;
	font-family: 'open sans';
	background: #fff;
}
.jasmine_html-reporter{
	display: none;
}

@import 'base/variables';
@import 'base/framework';
@import 'base/components';

@import 'components/navigation';
