/* colors */

	$white: #fff;
	$black: #000;
	$base-color: #f1f1f1;
	$bg-main: #f3f5f6;
	// #eef1f5

	$light-grey: #f7f7f7;
	$soft-grey: #ACB5C3;

	$default-grey: #E1E5EC;
	$dark-grey: #525E64;
	$steel-grey: #f3f5f6;
	$lighter-grey: #f5f8fd;
	

/*blue*/
	$default-blue: #4285f4; 
	$dark-blue: #357ae8;
	$light-blue: #5C9BD1;
	$soft-blue: #4C87B9;

/*green*/
	$default-green: #1BBC9B;
	$dark-green: #1BA39C;
	$light-green: #36D7B7;
	$soft-green: #3FABA4;

/*yellow*/
	$default-yellow: #F3C200;
	$dark-yellow: #C49F47;
	$light-yellow: #F4D03F;
	$soft-yellow: #C8D046;

/*red*/
	$default-red: #d14836;
	$dark-red: #c53727;

/*font styles*/
	$font-size-base: 12px;
	$font-size-large: 16px;
	$font-size-xl: 24px;
	$font-color-base: #555;


	/*old*/

	
	$color-link: #262626;
	$comments-bg: #f5f6fa;
	$disabled: #95A5A6;
	$block-heading: #fafafa;

	$primary-blue: #3598dc;
	$primary-blue-hover: #217ebd;

	$primary-grey: #e1e5ec;
	$primary-grey-hover: #FAFAFA;
	$grey-dark:  #ACB5C3;
	$grey-steel: #E9EDEF;
	$grey-mint:  #525e64;

	$default-red: #e7505a;
	$primary-red-hover: #e12330;

	$primary-green: #2ab4c0;
	$primary-green-hover: #218d96;

	$primary-yellow: #c49f47;
	$primary-yellow-hover:#a48334;

